.queue {
  display: flex;
  justify-content: space-evenly;
  background-color: palegreen;
  border: 1px solid green;
  border-radius: 3px;
  padding: 10px 0;
  height: 44px;
}

.queue li {
  list-style: none;
  list-style-type: none;
}

.pet-thumbnail {
  width: 40px;
  height: 40px;
  border: 1px solid green;
  border-radius: 5px;
}

.current {
  border: 3px solid firebrick;
}